services:
  - type: web
    runtime: node
    name: astro-ssr
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm run server
    envVars:
      - key: HOST
        value: 0.0.0.0
      - key: PORT
        value: 10000
